//Square of a number using function
#include<stdio.h>
double SQUARE(double n)
{
    return n*n;
}
void main()
{
    double a,b;
    printf("Enter a number\n");
    scanf("%lf",&a);
    b=SQUARE(a);
    printf("Square of %lf is %lf",a,b);
}
